.banner {
  height: 20rem;
  width: 100%;
}

.bannerCover {
  margin-top: 2rem;
}

.heading {
  color: #192f60;
}

.order_button {
  float: right;
  margin: -45px 20px 0px 0px;
}

.tabs {
  min-height: 200px;
  position: relative;
  background: white;
  margin: 50px 0px 30px 5px;
  clear: both;
}

.tab {
  float: left;
}

.tab label {
  margin-left: 10px;
  position: relative;
  left: 8px;
  top: -22px;
}

.tab [type="radio"] {
  display: none;
}

.content {
  position: absolute;
  left: 0;
  border-top: 2px solid #d2d9e6;
  top: 3px;
  right: 0;
  bottom: 0;
  padding: 22px;
  opacity: 0;
}

.tabs [type="radio"]:checked ~ label {
  background: white;
  z-index: 0;
  border-bottom: 3px solid red;
}

.tabs [type="radio"]:checked ~ label ~ .content {
  z-index: 0;
  opacity: 1;
}

.about {
  font-size: 18px;
  font-weight: 900;
  color: #192f60;
  height: 50px;
}

.head {
  font-size: 15px;
  font-weight: 900;
  color: #192f60;
  height: 20px;
}

.value {
  font-size: 15px;
  color: #192f60;
  height: 40px;
}

.value-red {
  font-size: 15px;
  color: red;
  height: 40px;
  margin-top: -20px;
}

.gallery_button {
  float: right;
  position: relative;
  top: -55px;
  right: 35px;
  color: #192f60;
  background-color: #ffffffb8;
  border: none;
  padding: 5px;
  width: 15em;
  font-weight: 700;
  border-radius: 5px;
}

.gallery_img {
  height: 28em;
}

.close {
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.menu {
  width: 27em;
  margin-top: 2em;
  border-bottom: 1px solid #c7c7c7;
  /* margin-left: 33px; */
}

.menu_body {
  display: inline-block;
  width: 20em;
  vertical-align: top;
}

.menu_image {
  display: inline-block;
  /* width: 8em; */
  margin-left: 30px;
  /* margin-right: 30px; */
}

.font_weight {
  font-weight: 800;
}

.item_details {
  font-size: 12px;
  color: #696b78;
}

.item_image {
  height: 5em;
  width: 5em;
  /* display: inline-block; */
  /* margin-top: -87px; */
  margin-left: -5px;
  border-radius: 7px;
}

.item_quantity_button {
  position: relative;
  top: -0.7rem;
  /* right: -3.2em; */
  background-color: #fff;
  text-align: center;
  width: 80px;
  color: #61b246;
}

.qty {
  background-color: #fff;
  margin: 0 6px 0 6px;
  font-weight: 900;
}

.total {
  display: inline-block;
  margin: 15px 0px 0px 17px;
}

.payment_button {
  margin: 8px 8px 0 0;
  width: 8em;
  float: right;
}

.payment {
  background-color: #f5f8ff;
  width: 109%;
  margin-left: -19px;
  height: 4em;
  margin-bottom: -20px;
}

button {
  border: none;
}
